.root_container {
  width: 100%;
  height: 100%;
}

.header-layout {
  width: 100%;
  display: grid;
  height: 3em;
  align-items: center;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: 1fr;
  margin: 0;
}

.left_section {
  display: grid;
  max-width: 5px;
}

.date-text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline;
  margin: 0.5rem 0;
}

.menu-icon {
  cursor: pointer;
  margin-right: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 8px 0 8px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: -2px;
  bottom: 1px;
  background-color: #2b244d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #97969e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background-color: #FDFAFF;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-mode {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

