.weather-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 30px;
  margin: 40px;
  width: 300px;
  height: 420px;
  cursor: pointer;
  background-color: white;
  border-radius: 1.75rem;
  animation: 1.25s ease-in-out 0ms 1 fadein;
}

.weather-card:hover {
  box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
  -webkit-transform: translateX(3px);
  -webkit-transform: translateY(-3px);
  transform: translateX(3px);
  transform: translateY(-3px);
}

.yellow {fill: #fdd835}
.white {fill:#616161}
.gray {fill:#263238}

.degree {
  margin-top: 20px;
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: 2px;
}

.city-name {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
}

.min-max__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.min__container, .max__container {
  margin: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.min-arrow__icon, .max-arrow__icon {
  height: 1.25rem;
  margin: auto;
}

.max-arrow__icon {
  margin-bottom: -0.05rem;
}

.max__text {
  color: #FF0070;
}

.min__text {
  color: #00FF9B;
}

.max__text, .min__text {
  font-size: 1rem;
  text-align: center;
}

.max-temperature__text, .min-temperature__text {
  text-align: center;
  font-size: 2rem;
}
