.weather-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 30px;
  margin: 20px;
  width: 320px;
  height: 420px;
  cursor: pointer;
  background-color: white;
  border-radius: 1.75rem;
  animation: 1.25s ease-in-out 0ms 1 fadein;
}

.yellow {
  fill: #fdd835;
}

.white {fill:#eeeeee}
.gray {fill:#757575}
